.section{
    padding: 4px;
    box-shadow: 0px 0px 48px rgb(4,6, 4, 0.08) !important;
}
.about_text{
color: darkslategrey !important ;
font: smaller !important;
line-height: 22px !important;
white-space: pre-line !important;

}
/* timeline section */
.timeline_title{
    font-size: 16px !important;
    font-weight: 500 !important;
}
.timeline_date{
    color: darkslategrey;
}
.timeline_description {
    color:grey;
    font-size: small;
    margin-top: 6px;
}
/* end of section */
/* services */
.service{
background-color:rgb(154, 154, 209);
    height: 100%;
    text-align: center;
}
.service .service_title{
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 35px !important;
    text-align: center;
    color: white;
}
.service .service_description{
    color: #050505 !important;
    border-color: var(--main-color) !important;
    margin-right: 5px !important;
    text-align: center;
    font-weight: 500;
}

.service_Icon > .MuiSvgIcon-root{
    font-size: 46px !important;
    margin-left: 0 !important;
    font-weight: 300 !important;
    color: black!important;
}
/* skills */
.skill{
    border-radius: 8px;
    
    padding: 20px;
    box-shadow: 0px 0px 48px rgb(4,6, 4, 0.08) !important;
    min-height: 186px;
    height: 100%;
}
.skill .skill_title{
    
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 35% !important;
    text-align: center;
    margin-bottom: 20px;
}
.skill .skill_description{
    
display: flex;
align-items: center;
color: #989898 !important;
font-weight: 400 !important;
line-height: 18px !important;

}
.timeline_dot{
    border: 1px solid red;

 cursor: pointer;
  border-color: var(--main-color); 
  padding-left: 40px !important;
  font-size: 20px;
  margin-right: 7px !important;
 
}