.footer{
    background: linear-gradient(0.25turn, rgb(143, 212, 212), rgb(143, 212, 212));
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    border-radius: 8px;
    padding: 20px 25px ;
   
}
.footer .footer_copyright{
    font-size:20px;
    text-align:end;
    color: #9c9c9c;

}
.footer .footer_copyright > a{
    text-decoration: none !important;
    color: var(--main-color);
}